.git
.gitignore
.gitattributes
__pycache__
*.pyc
*.pyo
.mypy_cache
.pytest_cache
.ruff_cache
venv
.venv
env
.vscode
.idea
.DS_Store
Thumbs.db
docs
*.md
!README.md
!LICENSE
build
dist
*.egg-info
Dockerfile
docker-compose.yaml
.dockerignore
config.yaml
sample_config.yaml
data
.trunk
.github
.coderabbit.yml
.coveragerc
codecov.yml
junit.xml
coverage.xml
htmlcov
.coverage
pytest.ini
