# Virtual environments
.pyenv
venv/
env/
ENV/

# IDE settings
.vscode
.idea/

# Configuration files with sensitive data
config.yaml
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Logs
*.log
logs/